This is to connect to the server, see separate TwitterStreamingPythonServer and receives tweets, then save the tweets into
HIVE table tweets through Spark SQL

In [1]:
import socket

HOST = '10.0.0.46'  # The server's hostname or IP address
PORT = 20000        # The port used by the server

In [2]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
import datetime

In [3]:
spark = SparkSession \
          .builder \
          .config("spark.master", "local") \
          .appName("interfacing spark sql to hive metastore with no configuration file") \
          .config("hive.metastore.uris", "thrift://10.0.0.46:9083") \
          .enableHiveSupport() \
          .getOrCreate()

In [4]:
sc=spark.sparkContext

In [5]:
sc.setLogLevel("ERROR")

In [6]:
spark.sql("CREATE TABLE IF NOT EXISTS tweets (datetime STRING, text STRING) USING hive")

DataFrame[]

In [7]:
with socket.socket(socket.AF_INET, socket.SOCK_STREAM) as s:
    s.connect((HOST, PORT))
    try:
        while True:
            data = s.recv(1024)
            decoded_data=data.decode()
            filtered_data="".join(list(filter(lambda x: x!="@" and x!="'" and x!='"' and x!="\n" and x!='{' and x!='}' and x!='(' and x!=')',decoded_data)))
            print(filtered_data)
            spark.sql("INSERT INTO tweets values ('"+str(datetime.datetime.now())+"','"+filtered_data+"')")
            
            
            
    except KeyboardInterrupt:
        pass

grantdmckenzie And ultimately you know best for your students needs! For semester long course, 2 weeks is not thatâ€¦ https://t.co/zzSjVrJn2f
Checkout CursorTek is #selling #bulk #data of 3k plus #categories like:#bars #hotels #restaurants #plumbersâ€¦ https://t.co/l3sKNmjzJqRT DynamicDuda338: Sooo... today... I wasnâ€™t feeling too good. ðŸ˜µ I decided to stay in my PJs and complete 8 short classes of Python codingâ€¦
RT pauli_rearea: grantdmckenzie And ultimately you know best for your students needs! For semester long course, 2 weeks is not that muchâ€¦