Data preprocessing is a big part of the data science and data engineering, it is arguably a most time consuming part. Feature engineering is a portion of data preprocessing, part of the feature engineering work is to understand available feature variables or columns in business meaning and selection, transforming and optimization of the feature variables or columns to participate training machine learning models. <br>

Quality of data preprocessing determines the success or failure of the machine learning project. <br>

Continuous/ratio/numeric feature columns that are continuous:<br>

LotFrontage: Linear feet of street connected to property (number)<br>
LotArea: Lot size in square feet (number)<br>
YearBuilt: Original construction date (number)<br>
YearRemodAdd: Remodel date (number)<br>
BsmtFinSF1: Type 1 finished square feet (number)<br>
BsmtFinSF2: Type 2 finished square feet (number)<br>
BsmtUnfSF: Unfinished square feet of basement area (number)<br> 
TotalBsmtSF: Total square feet of basement area (number)<br>
BsmtFinSF2: Type 2 finished square feet (number)<br>
BsmtUnfSF: Unfinished square feet of basement area (number)<br> 
TotalBsmtSF: Total square feet of basement area (number)<br>
BsmtFullBath: Basement full bathrooms (number)<br>
BsmtHalfBath: Basement half bathrooms (number)<br>
FullBath: Full bathrooms above grade (number)<br>
HalfBath: Half baths above grade (number)<br>
Bedroom: Number of bedrooms above basement level (number)<br> 
Kitchen: Number of kitchens (number)<br>
WoodDeckSF: Wood deck area in square feet (number)<br> 
OpenPorchSF: Open porch area in square feet (number)<br>
EnclosedPorch: Enclosed porch area in square feet (number)<br>
3SsnPorch: Three season porch area in square feet (number)<br>
ScreenPorch: Screen porch area in square feet (number)<br>
PoolArea: Pool area in square feet (number)<br>
MiscVal: Value of miscellaneous feature (number) <br>
MoSold: Month Sold (number) <br>
YrSold: Year Sold (number) <br>
1stFlrSF: First Floor square feet (number) <br>
2ndFlrSF: Second floor square feet (number) <br>
LowQualFinSF: Low quality finished square feet (all floors) (number) <br> 
GrLivArea: Above grade (ground) living area square feet (number) <br>



Ordinal/Norminal Data (there are number column, but they are caterical or ordinal): <br>

MSSubClass: The building class (number, cat) <br>
MSZoning: The general zoning classification (String) <br> 
Street: Type of road access (String) <br>
Alley: Type of alley access (String) <br>
LotShape: General shape of property (String) <br>
LandContour: Flatness of the property (String) <br>
Utilities: Type of utilities available (String) <br>
LotConfig: Lot configuration (String) <br>
LandSlope: Slope of property (String) <br>
Neighborhood: Physical locations within Ames city limits (String) <br>
Condition1: Proximity to main road or railroad (String) <br>
Condition2: Proximity to main road or railroad (if a second is present) (String) <br> 
BldgType: Type of dwelling (String) <br>
HouseStyle: Style of dwelling (String) <br>
OverallQual: Overall material and finish quality (number, cat) <br> 
OverallCond: Overall condition rating (number, cat) <br>
RoofStyle: Type of roof (String) <br>
RoofMatl: Roof material (String) <br>
Exterior1st: Exterior covering on house (String) <br> 
Exterior2nd: Exterior covering on house (if more than one material) (String) <br> 
MasVnrType: Masonry veneer type (String) <br>
ExterQual: Exterior material quality (String) <br>
ExterCond: Present condition of the material on the exterior (String) <br> 
Foundation: Type of foundation (String) <br>
BsmtQual: Height of the basement (String) <br>
BsmtCond: General condition of the basement (String) <br> 
BsmtExposure: Walkout or garden level basement walls (String) <br> 
BsmtFinType1: Quality of basement finished area (String) <br>
BsmtFinType2: Quality of second finished area (if present) (String) <br> 
Heating: Type of heating (String) <br>
HeatingQC: Heating quality and condition (String) <br> 
CentralAir: Central air conditioning (String) <br>
Electrical: Electrical system (String) <br>
KitchenQual: Kitchen quality (String) <br>
TotRmsAbvGrd: Total rooms above grade (does not include bathrooms) (number) <br> 
Functional: Home functionality rating (String) <br>
Fireplaces: Number of fireplaces (number) <br>
FireplaceQu: Fireplace quality (String) <br>
GarageType: Garage location (String) <br>
GarageYrBlt: Year garage was built (number) <br>
GarageFinish: Interior finish of the garage (String) <br>
GarageCars: Size of garage in car capacity (number) <br>
GarageArea: Size of garage in square feet (number) <br>
GarageQual: Garage quality (String) <br>
GarageCond: Garage condition (String) <br>
PavedDrive: Paved driveway (String) <br>
PoolQC: Pool quality Fence: Fence quality (String) <br>
MiscFeature: Miscellaneous feature not covered in other categories (String) <br> 
SaleType: Type of sale (String) <br>
SaleCondition: Condition of sale (String) <br>

Target: <br>

SalePrice - the property's sale price in dollars. This is the target variable that you're trying to predict. <br>

In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
#Load csv file into pandas dataframe

df=pd.read_csv("/home/bigdata2/kaggle/train.csv",sep=',',header='infer')

In [3]:
df.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500

In [4]:
df.columns.to_numpy().size

81

Now split the dataframe into 2: <br>
dataframe with continuous/ratio/numeric data <br>
dataframe with norminal/ordinal/categorical data <br>

Continuous/ratio/numeric feature columns that are continuous:<br>

LotFrontage: Linear feet of street connected to property (number)<br>
LotArea: Lot size in square feet (number)<br>
YearBuilt: Original construction date (number)<br>
YearRemodAdd: Remodel date (number)<br>
BsmtFinSF1: Type 1 finished square feet (number)<br>
BsmtFinSF2: Type 2 finished square feet (number)<br>
BsmtUnfSF: Unfinished square feet of basement area (number)<br> 
TotalBsmtSF: Total square feet of basement area (number)<br>
BsmtFinSF2: Type 2 finished square feet (number)<br>
BsmtUnfSF: Unfinished square feet of basement area (number)<br> 
TotalBsmtSF: Total square feet of basement area (number)<br>
BsmtFullBath: Basement full bathrooms (number)<br>
BsmtHalfBath: Basement half bathrooms (number)<br>
FullBath: Full bathrooms above grade (number)<br>
HalfBath: Half baths above grade (number)<br>
Bedroom: Number of bedrooms above basement level (number)<br> 
Kitchen: Number of kitchens (number)<br>
WoodDeckSF: Wood deck area in square feet (number)<br> 
OpenPorchSF: Open porch area in square feet (number)<br>
EnclosedPorch: Enclosed porch area in square feet (number)<br>
3SsnPorch: Three season porch area in square feet (number)<br>
ScreenPorch: Screen porch area in square feet (number)<br>
PoolArea: Pool area in square feet (number)<br>
MiscVal: Value of miscellaneous feature (number) <br>
MoSold: Month Sold (number) <br>
YrSold: Year Sold (number) <br>
1stFlrSF: First Floor square feet (number) <br>
2ndFlrSF: Second floor square feet (number) <br>
LowQualFinSF: Low quality finished square feet (all floors) (number) <br> 
GrLivArea: Above grade (ground) living area square feet (number) <br>

In [5]:
df_num=df.loc[:,['LotFrontage', 'LotArea', 'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1', \
                 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', \
                 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', \
                 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea']]

In [6]:
df_num.head(3)

,LotFrontage,LotArea,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath,...,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea
0,65.0,8450,2003,2003,706,0,150,856,1,0,...,0,0,0,0,2,2008,856,854,0,1710
1,80.0,9600,1976,1976,978,0,284,1262,0,1,...,0,0,0,0,5,2007,1262,0,0,1262
2,68.0,11250,2001,2002,486,0,434,920,1,0,...,0,0,0,0,9,2008,920,866,0,1786

In [7]:
for i in df_num.columns.to_numpy():
    print(df[i].head(1))

0    65.0
Name: LotFrontage, dtype: float64
0    8450
Name: LotArea, dtype: int64
0    2003
Name: YearBuilt, dtype: int64
0    2003
Name: YearRemodAdd, dtype: int64
0    706
Name: BsmtFinSF1, dtype: int64
0    0
Name: BsmtFinSF2, dtype: int64
0    150
Name: BsmtUnfSF, dtype: int64
0    856
Name: TotalBsmtSF, dtype: int64
0    1
Name: BsmtFullBath, dtype: int64
0    0
Name: BsmtHalfBath, dtype: int64
0    2
Name: FullBath, dtype: int64
0    1
Name: HalfBath, dtype: int64
0    3
Name: BedroomAbvGr, dtype: int64
0    1
Name: KitchenAbvGr, dtype: int64
0    0
Name: WoodDeckSF, dtype: int64
0    61
Name: OpenPorchSF, dtype: int64
0    0
Name: EnclosedPorch, dtype: int64
0    0
Name: 3SsnPorch, dtype: int64
0    0
Name: ScreenPorch, dtype: int64
0    0
Name: PoolArea, dtype: int64
0    0
Name: MiscVal, dtype: int64
0    2
Name: MoSold, dtype: int64
0    2008
Name: YrSold, dtype: int64
0    856
Name: 1stFlrSF, dtype: int64
0    854
Name: 2ndFlrSF, dtype: int64
0    0
Name: LowQualFinSF, dtype: int64
0    1710
Name: GrLivArea, dtype: int64

Ordinal/Norminal Data (there are number column, but they are caterical or ordinal): <br>

MSSubClass: The building class (number, cat) <br>
MSZoning: The general zoning classification (String) <br> 
Street: Type of road access (String) <br>
Alley: Type of alley access (String) <br>
LotShape: General shape of property (String) <br>
LandContour: Flatness of the property (String) <br>
Utilities: Type of utilities available (String) <br>
LotConfig: Lot configuration (String) <br>
LandSlope: Slope of property (String) <br>
Neighborhood: Physical locations within Ames city limits (String) <br>
Condition1: Proximity to main road or railroad (String) <br>
Condition2: Proximity to main road or railroad (if a second is present) (String) <br> 
BldgType: Type of dwelling (String) <br>
HouseStyle: Style of dwelling (String) <br>
OverallQual: Overall material and finish quality (number, cat) <br> 
OverallCond: Overall condition rating (number, cat) <br>
RoofStyle: Type of roof (String) <br>
RoofMatl: Roof material (String) <br>
Exterior1st: Exterior covering on house (String) <br> 
Exterior2nd: Exterior covering on house (if more than one material) (String) <br> 
MasVnrType: Masonry veneer type (String) <br>
ExterQual: Exterior material quality (String) <br>
ExterCond: Present condition of the material on the exterior (String) <br> 
Foundation: Type of foundation (String) <br>
BsmtQual: Height of the basement (String) <br>
BsmtCond: General condition of the basement (String) <br> 
BsmtExposure: Walkout or garden level basement walls (String) <br> 
BsmtFinType1: Quality of basement finished area (String) <br>
BsmtFinType2: Quality of second finished area (if present) (String) <br> 
Heating: Type of heating (String) <br>
HeatingQC: Heating quality and condition (String) <br> 
CentralAir: Central air conditioning (String) <br>
Electrical: Electrical system (String) <br>
KitchenQual: Kitchen quality (String) <br>
TotRmsAbvGrd: Total rooms above grade (does not include bathrooms) (number) <br> 
Functional: Home functionality rating (String) <br>
Fireplaces: Number of fireplaces (number) <br>
FireplaceQu: Fireplace quality (String) <br>
GarageType: Garage location (String) <br>
GarageYrBlt: Year garage was built (number) <br>
GarageFinish: Interior finish of the garage (String) <br>
GarageCars: Size of garage in car capacity (number) <br>
GarageArea: Size of garage in square feet (number) <br>
GarageQual: Garage quality (String) <br>
GarageCond: Garage condition (String) <br>
PavedDrive: Paved driveway (String) <br>
PoolQC: Pool quality Fence: Fence quality (String) <br>
MiscFeature: Miscellaneous feature not covered in other categories (String) <br> 
SaleType: Type of sale (String) <br>
SaleCondition: Condition of sale (String) <br>

In [8]:
df_non_num=df.loc[:,['MSSubClass', 'MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', \
                     'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', \
                     'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond', 'RoofStyle', 'RoofMatl', \
                     'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', \
                     'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', \
                     'CentralAir', 'Electrical', 'KitchenQual', 'TotRmsAbvGrd', 'Functional', 'Fireplaces', \
                     'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', \
                     'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'MiscFeature', 'SaleType', 'SaleCondition']]

In [9]:
df_non_num.head(3)

,MSSubClass,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,PoolQC,MiscFeature,SaleType,SaleCondition
0,60,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,RFn,2,548,TA,TA,Y,NaN,NaN,WD,Normal
1,20,RL,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,RFn,2,460,TA,TA,Y,NaN,NaN,WD,Normal
2,60,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,RFn,2,608,TA,TA,Y,NaN,NaN,WD,Normal

In [10]:
#Set df_non_num to category datatype
df_non_num=df_non_num.astype('category')

In [11]:
cat_columns=df_non_num.columns.to_numpy()

In [12]:
#Convert each categorical column text values into numeric values, which is called label encoding, ML algorithm can only deal with numeric values.

df_non_num[cat_columns]=df_non_num[cat_columns].apply(lambda x: x.cat.codes)

In [13]:
df_non_num.head(3)

,MSSubClass,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,PoolQC,MiscFeature,SaleType,SaleCondition
0,5,3,1,-1,3,3,0,4,0,5,...,1,2,220,4,4,2,-1,-1,8,4
1,0,3,1,-1,3,3,0,2,0,24,...,1,2,149,4,4,2,-1,-1,8,4
2,5,3,1,-1,0,3,0,4,0,5,...,1,2,260,4,4,2,-1,-1,8,4

In [14]:
#Replace NaN to 0 for both numeric and categorical dataframes

df_num=df_num.fillna(0)
df_non_num=df_non_num.fillna(0)

In [15]:
#Add target label df['SalePrice'] to both df_num and df_non_num
df_num=df_num.join(df.loc[:,['SalePrice']])
df_non_num=df_non_num.join(df.loc[:,['SalePrice']])

In [16]:
df_num.head(3)

,LotFrontage,LotArea,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath,...,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,SalePrice
0,65.0,8450,2003,2003,706,0,150,856,1,0,...,0,0,0,2,2008,856,854,0,1710,208500
1,80.0,9600,1976,1976,978,0,284,1262,0,1,...,0,0,0,5,2007,1262,0,0,1262,181500
2,68.0,11250,2001,2002,486,0,434,920,1,0,...,0,0,0,9,2008,920,866,0,1786,223500

In [17]:
start=True
for i in df_num.columns.to_numpy():
    if i=='Id' or i=='SalePrice':
        continue
    if abs(df_num.loc[:,[i,'SalePrice']].corr().to_numpy()[0][1])>=0.3:
        if start==True:
            df_num_keep=df_num.loc[:,[i]]
            df_num_keep.head(2)
            start=False
        else:
            df_num_keep=df_num_keep.join(df_num.loc[:,[i]])
df_num_keep

,YearBuilt,YearRemodAdd,BsmtFinSF1,TotalBsmtSF,FullBath,WoodDeckSF,OpenPorchSF,1stFlrSF,2ndFlrSF,GrLivArea
0,2003,2003,706,856,2,0,61,856,854,1710
1,1976,1976,978,1262,2,298,0,1262,0,1262
2,2001,2002,486,920,2,0,42,920,866,1786
3,1915,1970,216,756,1,0,35,961,756,1717
4,2000,2000,655,1145,2,192,84,1145,1053,2198
...,...,...,...,...,...,...,...,...,...,...
1455,1999,2000,0,953,2,0,40,953,694,1647
1456,1978,1988,790,1542,2,349,0,2073,0,2073
1457,1941,2006,275,1152,2,0,60,1188,1152,2340
1458,1950,1996,49,1078,1,366,0,1078,0,1078
1459,1965,1965,830,1256,1,736,68,1256,0,1256

In [18]:
start=True
for i in df_non_num.columns.to_numpy():
    if i=='SalePrice':
        continue
    if abs(df_non_num.loc[:,[i,'SalePrice']].corr('spearman').to_numpy()[0][1])>=0.3:
        if start==True:
            df_non_num_keep=df_non_num.loc[:,[i]]
            df_non_num_keep.head(2)
            start=False
        else:
            df_non_num_keep=df_non_num_keep.join(df_non_num.loc[:,[i]])
df_non_num_keep

,MSZoning,LotShape,OverallQual,ExterQual,Foundation,BsmtQual,HeatingQC,CentralAir,KitchenQual,TotRmsAbvGrd,Fireplaces,FireplaceQu,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,SaleCondition
0,3,3,6,2,2,2,0,1,2,6,0,-1,89,1,2,220,4,4,4
1,3,3,5,3,1,2,0,1,3,4,1,4,62,1,2,149,4,4,4
2,3,0,6,2,2,2,0,1,2,4,1,4,87,1,2,260,4,4,4
3,3,0,6,3,0,3,2,1,2,5,1,2,84,2,3,284,4,4,0
4,3,0,7,2,2,2,0,1,2,7,1,4,86,1,3,380,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,3,3,5,3,2,2,0,1,3,5,1,4,85,1,2,149,4,4,4
1456,3,3,5,3,1,2,4,1,3,5,2,4,64,2,2,182,4,4,4
1457,3,3,6,0,4,3,0,1,2,7,2,2,29,1,1,24,4,4,4
1458,3,3,4,3,1,3,2,1,2,3,0,-1,36,2,1,19,4,4,4
1459,3,3,4,2,1,3,2,1,3,4,0,-1,51,0,1,35,4,4,4

In [19]:
#Finally, join df_non_num with df_num, the last column of df_num is saleprice, which is the target, and which
#is last column of combined dataframe df_all_num

df_all_num=df_non_num_keep.iloc[:,0:df_non_num_keep.columns.to_numpy().size-1].join(df_num_keep)

In [20]:
df_all_num.head(3)

,MSZoning,LotShape,OverallQual,ExterQual,Foundation,BsmtQual,HeatingQC,CentralAir,KitchenQual,TotRmsAbvGrd,...,YearBuilt,YearRemodAdd,BsmtFinSF1,TotalBsmtSF,FullBath,WoodDeckSF,OpenPorchSF,1stFlrSF,2ndFlrSF,GrLivArea
0,3,3,6,2,2,2,0,1,2,6,...,2003,2003,706,856,2,0,61,856,854,1710
1,3,3,5,3,1,2,0,1,3,4,...,1976,1976,978,1262,2,298,0,1262,0,1262
2,3,0,6,2,2,2,0,1,2,4,...,2001,2002,486,920,2,0,42,920,866,1786

In [21]:
df_all_num=df_all_num.join(df_num.loc[:,['SalePrice']])

In [22]:
df_all_num.head(3)

,MSZoning,LotShape,OverallQual,ExterQual,Foundation,BsmtQual,HeatingQC,CentralAir,KitchenQual,TotRmsAbvGrd,...,YearRemodAdd,BsmtFinSF1,TotalBsmtSF,FullBath,WoodDeckSF,OpenPorchSF,1stFlrSF,2ndFlrSF,GrLivArea,SalePrice
0,3,3,6,2,2,2,0,1,2,6,...,2003,706,856,2,0,61,856,854,1710,208500
1,3,3,5,3,1,2,0,1,3,4,...,1976,978,1262,2,298,0,1262,0,1262,181500
2,3,0,6,2,2,2,0,1,2,4,...,2002,486,920,2,0,42,920,866,1786,223500

In [24]:
#Now create feature matrix X and target vector y.
#column 0 to column 79 of pandas dataframe df_all_num are in feature matrix, a numpy array X
#column 80, saleprice, the target, in numpy array y

X=df_all_num.iloc[:,0:df_all_num.columns.to_numpy().size-1].to_numpy()
y=df_all_num.iloc[:,df_all_num.columns.to_numpy().size-1].to_numpy()

In [25]:
#Then split X, y into Xtrain, Ytrain 70%, Xtest, Ytest 30%
import sklearn
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest=train_test_split(X,y,test_size=0.30, random_state=0)

In [26]:
#Now start regression.
#Start with LinearRegression on all columns

from sklearn.linear_model import LinearRegression
model = LinearRegression(normalize=True)
model.fit(Xtrain, Ytrain)
y_pred=model.predict(Xtest)

In [27]:
#Evalue mean squared error and R square, the higher the R Square, towards 1, the better

from sklearn.metrics import mean_squared_error,r2_score
MSE=mean_squared_error(Ytest,y_pred)
math.sqrt(MSE)

41800.74492741908

In [28]:
r2_score(Ytest,y_pred)

0.7426271204373056

In [29]:
#Let's try Ridge regression, which is also called L2 regularization, it is LinearRegression, but less influenced by outliers

from sklearn.linear_model import Ridge
ridge_model = Ridge(alpha=0.5,normalize=True)
ridge_model.fit(Xtrain, Ytrain)
print(ridge_model.coef_)
print(ridge_model.intercept_)
y_pred=ridge_model.predict(Xtest)

[ -876.31576853 -1643.76585641  8707.47265012 -9165.02381314
   659.40893406 -5192.51083401 -1229.31336946 10402.06534195
 -8099.52071274  3114.44655615  8518.54224362   195.99302277
    14.14186895 -2086.0121381   6302.06010939    48.11997138
   241.14481221   861.49059322    69.20433018   160.97246941
    16.62812125    20.01155002  3430.3730939     23.34911853
    22.59936586    16.97958948    13.08771705    18.29762119]
-399207.7388681314

In [30]:
#Better R Square at 0.75

MSE=mean_squared_error(Ytest,y_pred)
math.sqrt(MSE)

40531.735987458815

In [31]:
r2_score(Ytest,y_pred)

0.7580168370452363

In [32]:
from sklearn.linear_model import Lasso
lasso_model =Lasso(alpha=2.0, normalize=True)
lasso_model.fit(Xtrain, Ytrain)
print(lasso_model.coef_)
print(lasso_model.intercept_)
y_pred=lasso_model.predict(Xtest)

[-1.81230990e+03 -1.86153698e+03  1.39920922e+04 -8.35044182e+03
 -8.16714571e+02 -8.52306718e+03 -7.83682295e+02  1.55480703e+04
 -7.81844454e+03  1.30584855e+03  1.32419760e+04 -2.22067477e+03
 -1.59824150e+02 -1.65996923e+03  5.74763197e+03  5.29488456e+01
 -0.00000000e+00  1.10263704e+03  8.38128445e+01  1.78673054e+02
  2.01723173e+01  2.84229289e+01 -3.53045682e+03  2.53091885e+01
  7.39431793e-01  1.77113707e+01  2.46450726e+01  2.14955283e+01]
-475971.0122955318

In [33]:
MSE=mean_squared_error(Ytest,y_pred)
math.sqrt(MSE)

41780.22421116759

In [34]:
r2_score(Ytest,y_pred)

0.7428797561000005

In [35]:
from sklearn.linear_model import ElasticNet
elastic_model =ElasticNet(alpha=2.0, normalize=True)
elastic_model.fit(Xtrain, Ytrain)
print(elastic_model.coef_)
print(elastic_model.intercept_)
y_pred=elastic_model.predict(Xtest)

[-1.55811666e+01 -1.38568147e+01  4.37946052e+01 -6.91085533e+01
  3.95479010e+01 -3.40796084e+01 -1.71955139e+01  7.77071054e+01
 -5.20529354e+01  2.57273887e+01  5.63998980e+01  1.41507638e+01
  1.42863214e+00 -2.19717408e+01  6.73761902e+01  4.31451602e-01
  1.62546789e+01  1.77979729e+01  1.28445425e+00  1.89093992e+00
  7.04200900e-02  1.15580905e-01  8.00851379e+01  1.78184394e-01
  3.48601818e-01  1.23767209e-01  5.75921563e-02  1.06254990e-01]
173244.81677494952

In [36]:
MSE=mean_squared_error(Ytest,y_pred)
math.sqrt(MSE)

81883.01702061766

In [37]:
r2_score(Ytest,y_pred)

0.01239697608933421

In [38]:
#When R Square is better with Ridge regression, L2 regularization than simple LinearRegression, 
#That usually tells the dataset are not linear, non linear regression should be tried.
#Technically, there are 3 basic regression for non linear dataset, they are
#Decision tree, Random Forest Regressor and Gradient Boost Regressor
#Try each of them

#Start with DecisionTree Regressor


from sklearn.tree import DecisionTreeRegressor
dt_model=DecisionTreeRegressor()
dt_model.fit(Xtrain, Ytrain)
y_pred=dt_model.predict(Xtest)

In [39]:
#Not promising using DecisoinTree with default hyperpameters, R Square at 0.60

MSE=mean_squared_error(Ytest,y_pred)
math.sqrt(MSE)

39595.15950911817

In [40]:
r2_score(Ytest,y_pred)

0.769070756652757

In [41]:
#Let's tune the decision tree, by set the tree depth, i.e., level of tree, set max_depth 2

dt_model=DecisionTreeRegressor(criterion='mse', max_depth=2, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')
dt_model.fit(Xtrain, Ytrain)
y_pred=dt_model.predict(Xtest)

In [42]:
#Slightly improve R Square to 0.64 by setting max_depth of DecisionTreeREgressor to 2

MSE=mean_squared_error(Ytest,y_pred)
math.sqrt(MSE)

49653.906258927025

In [43]:
r2_score(Ytest,y_pred)

0.6368370135372332

In [44]:
#Now set the hyperparameter max_depth of DecisionTreeRegressor to 5

dt_model=DecisionTreeRegressor(criterion='mse', max_depth=5, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')
dt_model.fit(Xtrain, Ytrain)
y_pred=dt_model.predict(Xtest)

In [45]:
#Increase tree depth by set max_depth to 5, improve R Square to 0.77,
#increae tree depth can lead to another problem, overfitting
#For decision tree, more proper tree depth would be 2

MSE=mean_squared_error(Ytest,y_pred)
math.sqrt(MSE)

36505.09931187871

In [46]:
r2_score(Ytest,y_pred)

0.8037083582504732

In [47]:
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
rf_model=RandomForestRegressor()
rf_model.fit(Xtrain, Ytrain)
y_pred=rf_model.predict(Xtest)

/home/bigdata2/anaconda3/envs/spark/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [48]:
#RandomForestRegressor yields better R Square, at 0.85

MSE=mean_squared_error(Ytest,y_pred)
math.sqrt(MSE)

31255.803066217606

In [49]:
r2_score(Ytest,y_pred)

0.8561015676909451

In [50]:
#Then try GradientBoostingRegressor

gb_model=GradientBoostingRegressor()
gb_model.fit(Xtrain, Ytrain)
y_pred=gb_model.predict(Xtest)

In [51]:
#GradientBoostingRegressor has also relative good R Square value at 0.85

MSE=mean_squared_error(Ytest,y_pred)
math.sqrt(MSE)

29590.496769197776

In [52]:
r2_score(Ytest,y_pred)

0.8710268665585925